

  
<div class="container">
  <div class="row">
    <div class="col-4">
      <app-user-list
        [parentUserDetail]="details"
        [parentSelectedDetail2]="selectedDetail"
        (childSelectedDetail)="showdetails($event)"
      >
      </app-user-list>
    </div>
    <div class="col-4">
      <app-user-landing
        [parentSelectedDetail]="selectedDetail"
      ></app-user-landing>
    </div>
    <div class="col-2">
      <app-clear-user-details
        [parentSelectedDetail1]="selectedDetail"
        (clearParentData)="clear($event)"
      ></app-clear-user-details>
    </div>
    <div class="col-2">
      <app-user-submit-selection
      [userSubmitSelection]="selectedDetail"
      
      ></app-user-submit-selection>
    </div>
  </div>
</div>


