
<div>
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a routerLink="/userdetails">User Details</a></li>
    <li><a routerLink="/useractions">User Actions</a></li>
    <li><a href="#about">About</a></li>
  </ul>
</div>
<router-outlet></router-outlet>


<!-- 
    <div class="col">
      <div *ngIf="selectedDetail">
        <p>ID:{{ selectedDetail.id }}</p>
        <p>Name:{{ selectedDetail.name }}</p>
        <p>Age:{{ selectedDetail.age }}</p>
      </div>
    </div>
  
   
</div>
-->
<!-- clear button to clear selectedDetail, details next to number, change ngClass to ngStyle-->
