<div class="container">
  <div class="row">
    
    <div class="col">
    <nav>
      <ul>
        <li class="list"
          *ngFor="let detail of details"
          (click)="showdetails(detail)"
          [ngClass]="
            selectedDetail && selectedDetail.id == detail.id
              ? 'highlightselected'
              : ''
          "
        >
          {{ detail.id }}
        </li>
      </ul>
    </nav>
    </div>
  
    <div class="col">
      <div *ngIf="selectedDetail">
        <p>ID:{{ selectedDetail.id }}</p>
        <p>Name:{{ selectedDetail.name }}</p>
        <p>Age:{{ selectedDetail.age }}</p>
      </div>
    </div>
    <div class="col" *ngIf="selectedDetail">
      <button class="btn btn-primary" (click)="clear()">Clear</button>
    </div>
  </div>
</div>

<!-- clear button to clear selectedDetail, details next to number, change ngClass to ngStyle-->
