
  <ul style=" border-radius:20px; padding: 0px;">
    <li  style=" border-radius:20px; border:1px black solid"
      class="list"
      *ngFor="let detail of details3"
      (click)="showdetails(detail)"
      [style.background-color]="
        selectedDetail1 && selectedDetail1.id != detail.id ? 'white' : ''
      "
      [ngStyle]="{
        'background-color':
          selectedDetail1 && selectedDetail1.id == detail.id ? 'lightgreen' : '',
        padding: selectedDetail1 && selectedDetail1.id == detail.id ? '10px' : ''
      }"
      [ngClass]="
        selectedDetail1 && selectedDetail1.id == detail.id
          ? 'highlightselected'
          : ''
      "
    >
      {{ detail.id }}
    </li>
  </ul>

